<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Template is working</title>
</head>
<body>
<h1>Welcome to the text analyzer
</h1>
<form action='/analyze' method='GET'>
<textarea name='text' style="0 px; width: 1280px; height: 720px"></textarea><br>
<input type='radio' name='removepunc'>Remove Punctuation</input><br>
<input type='radio' name='fullcaps'>UPPERCASE</input><br>
<input type='radio' name='newlineremove'>Newline Remover</input><br>
<input type='radio' name='spaceremove'>Extra Space Remover</input><br>
<input type='radio' name='charcount'>Character counter</input><br>
<button type="submit">Analyze text</button>
</form>
</body>
</html>	
